@charset 'utf-8';

/* ---------------------------------------- card detail ----------------------------------------*/
/* semi transparent background */
section.cover article.selected_fig {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: -110%;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

section.cover article.selected_fig div.img {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

section.cover article.selected_fig div.img img {
    height: 100%;
}

section.cover article.selected_fig div.trans_cover {
    height: 100%;
    position: absolute;
    width: 80%;
    background: linear-gradient(to left, transparent, black);
    left: 0;
    top: 0;
}

section.cover article.selected_fig div.description_area {
    width: 60%;
    overflow: hidden;
    position: relative;
    z-index: 99;
    margin-left: 30px;
}

section.cover article.selected_fig div.description_area div.buttons {
    width: 100%;
    margin-bottom: 15px;
}

section.cover article.selected_fig div.description_area div.buttons li{
    height: 30px;
    width: 30px;
    margin-right: 7px;
    background: center no-repeat;
    background-size: contain;
}
section.cover article.selected_fig div.description_area div.buttons li.back{
    background-image: url("../img/C_back.png");
}
section.cover article.selected_fig div.description_area div.buttons li.thumb{
    background-image: url("../img/C_thumb.png");
}
section.cover article.selected_fig div.description_area div.buttons li.cart{
    background-image: url("../img/C_cart.png");
}

section.cover article.selected_fig div.description_area div.info>span {
    color: white;
    font-size: 13px;
}
section.cover article.selected_fig div.description_area div.info>span span {
    height: 12px;
    width: 12px;
    margin-right: 7px;
    margin-bottom: 1px;
    vertical-align: middle;
}

section.cover article.selected_fig div.description_area div.info span.cite {
    color: #4865FF;
}

section.cover article.selected_fig div.description_area div.caption {
    width: 100%;
    overflow: hidden;    
    padding-top: 8px;
}

section.cover article.selected_fig div.description_area div.caption h3 {
    text-transform: none;
}

section.cover article.selected_fig div.description_area div.caption ul {
    margin-top: 1px;
    text-transform: capitalize;
}

section.cover article.selected_fig div.description_area div.caption ul li {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 30px;
}

section.cover article.selected_fig div.description_area div.caption span {
    height: 22px;
    font-size: 13px;
    line-height: 20px;
    padding: 0 12px 0 12px;
    border-radius: 11px;
    text-align: center;
    vertical-align: middle;    
    color: white;
    position: relative;
    font-weight: bold;
    background: cornflowerblue;
    justify-content: center;
    align-items: center;
}

section.cover article.selected_fig div.description_area div.caption p.des {
    margin-top: 8px;
    font-size: 13px;
    line-height: 130%;
}
