.paper_info {
  width: 100%;
  min-height: 150px;
  text-align: left;
  padding: 30px;
}

.paper_info div#title {
  padding-bottom: 15px;
  width: 100%;
  display: block;
  overflow: auto;
  /* background: blue; */
}
.paper_info div#title h1 {
  padding-top: 15px;
  font-size: 30px;
  line-height: normal;
  width: 70%;
  float: left;
  overflow: visible;
  text-transform: none;
  padding-left: 10px;
}

.paper_info div#title aside {
  float: right;
  padding: 15px;
}

.paper_info div#title aside span.thumb {
  background: url("../img/thumb.png") center no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
  margin-right: 15px;
}

.paper_info div#title aside span.cart {
  background: url("../img/cart.png") center no-repeat;
  background-size: contain;
  width: 36px;
  height: 36px;
}

.paper_info div#title aside span.thumb.active {
  background: url("../img/thumb_active.png") center no-repeat;
  background-size: contain;
}

.paper_info div#title aside span.cart.active {
  background: url("../img/cart_active.png") center no-repeat;
  background-size: contain;
}

#subsection {
  width: 100%;
  /* width: 1000px; */
  /* height: fit-content; */
  /* background: blue; */
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  /* display: inline; */
  position: relative;
  /* background: blue; */
}

.paper_info #subsection div#more_info {
  list-style: none;
  overflow: auto;
  /* background: green; */
  width: 80%;
}
.paper_info #subsection div#more_info ul li.info_list {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  font-weight: bold;
}

#publication,
#authors,
#doi {
  display: inline;
  font-weight: normal;
}

#authors li {
  margin-right: 2px;
  margin: 0px;
  padding: 0px;
}

#authors li::before {
  content: "";
  background: url("../img/I_Profile_bnw.png") no-repeat 0 0;
  background-size: 18px;
  width: 18px;
  height: 18px;
  position: relative; /*or absolute*/
  z-index: 100000; /*a number that's more than the modal box*/
  left: -2px;
  top: 4px;
  display: inline-block;
}

#doi a {
  color: inherit;
  text-decoration: none;
}

.paper_info #subsection div#icon {
  width: 30%;
  position: absolute;
  top: 15px;
  right: 0px;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 15px;
}

.paper_info #subsection div#icon span.cite,
span.down,
span.graph {
  padding-left: 35px;
  font-size: 18px;
}

div#icon span.cite {
  color: #4865ff;
}
div#icon span.cite::before {
  content: "";
  background: url("../img/cite.png") no-repeat 0 0;
  background-size: 25px;
  width: 25px;
  height: 25px;
  position: relative; /*or absolute*/
  z-index: 100000; /*a number that's more than the modal box*/
  left: -10px;
  top: 10px;
  display: inline-block;
}

div#icon span.down {
  color: #8f8f8f;
}

div#icon span.down::before {
  content: "";
  background: url("../img/download.png") no-repeat 0 0;
  background-size: 25px;
  width: 25px;
  height: 25px;
  position: relative; /*or absolute*/
  z-index: 100000; /*a number that's more than the modal box*/
  left: -10px;
  top: 10px;
  display: inline-block;
}

div#icon span.graph {
  color: #585858;
}
div#icon span.graph::before {
  content: "";
  background: url("../img/graph.png") no-repeat 0 0;
  background-size: 25px;
  width: 25px;
  height: 25px;
  position: relative; /*or absolute*/
  z-index: 100000; /*a number that's more than the modal box*/
  left: -10px;
  top: 10px;
  display: inline-block;
}
/* background: url("../img/cite.png") center no-repeat; */

.paper_detail {
  width: 100%;
  height: 75vh;
  padding: 30px;
}
