/* main */
section#detail {
  position: absolute;
  left: 150%;
  top: 120px;
  width: 75%;
  height: 100vh-120px;
  transform: translateX(-50%);
}

section#detail div.back{
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  text-transform: uppercase;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
color: #f95700;
border: 1px solid #f95700;
border-radius: 20px;
transform: translateX(-150%);
cursor: pointer;
font-weight: bold;
}
section#detail div.back:hover{
  color: white;
  background: #f95700;

}
/* UPPER PART */

.paper_info {
  width: 100%;
}

.paper_info div#title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.paper_info div#title h3 {
  font-size: 28px;
  line-height: 130%;
  width: 80%;
  text-transform: uppercase;
}

.paper_info div#title aside {}

.paper_info div#title aside span {
  width: 28px;
  height: 28px;
}

.paper_info div#title aside span.thumb {
  background: url("../img/thumb.png") center no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.paper_info div#title aside span.cart {
  background: url("../img/cart.png") center no-repeat;
  background-size: contain;
}

.paper_info div#title aside span.thumb.active {
  background: url("../img/thumb_active.png") center no-repeat;
  background-size: contain;
}

.paper_info div#title aside span.cart.active {
  background: url("../img/cart_active.png") center no-repeat;
  background-size: contain;
}

#subsection {
  width: 100%;
  border-top: 2px solid #d6d6d6;
  border-bottom: 2px solid #d6d6d6;
  padding: 15px 0;
  position: relative;
}

.paper_info #subsection div#more_info {
  list-style: none;
  width: 80%;
}

.paper_info #subsection div#more_info ul.info_list {
  width: 100%;
  padding: 4px 0;
  font-weight: bold;
}

#publication,
#authors,
#doi {
  display: inline;
}

.paper_info #subsection div#more_info ul.info_list * {
  font-weight: normal;
}

#authors li {
  margin: 0px 5px;
  padding-left: 20px;
  position: relative;

}

#authors li::before {
  content: " ";
  background: url("../img/I_Profile_bnw.png") no-repeat 0 0;
  background-size: contain;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

#doi a {
  color: inherit;
  text-decoration: none;
}

.paper_info #subsection div#icon {
  width: 30%;
  position: absolute;
  right: 0px;
  text-align: right;
  bottom: 20px;
}

.paper_info #subsection div#icon span.cite,
.paper_info #subsection div#icon span.down,
.paper_info #subsection div#icon span.graph {
  font-size: 16px;
  height: 16px;
  padding-left: 26px;
  margin-left: 20px;
}

.paper_info #subsection div#icon span {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

.paper_info #subsection div#icon span.cite {
  background-image: url("../img/I_Citation.png");
}

.paper_info #subsection div#icon span.down {
  background-image: url("../img/I_Download.png");
}

.paper_info #subsection div#icon span.graph {
  background-image: url("../img/I_Graph.png");
}

.paper_info #subsection div#icon span img {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

/* LOWER PART */

.paper_detail {
  width: 100%;
  padding-top: 30px;
  height: 70vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.paper_detail div#left {
  width: 35%;
  height: 100%;
}

#left #figure_selected {
  width: 100%;
}

#figure_selected img {
  width: 100%;
  border-radius: 5px;
}

#figure_selected #figure_caption {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}

#left #figure_list {
  margin-top: 30px;
  height: 50px;
  text-align: center;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  /* hide scrollbar  for IE and Edge */
  scrollbar-width: none;
  /* hide scrollbar  for Firefox */
}

#left #figure_list::-webkit-scrollbar {
  display: none;
  /* hide scrollbar  for Chrome, Safari and Opera*/
}

#left #figure_list li {
  max-width: 90px;
  height: 100%;
  transform: scale(0.85);
  overflow-y: hidden;
  border: solid 1px #d6d6d6;
  border-radius: 2px;
  transition: 0.2s;
  opacity: 0.8;
}

#left #figure_list li:hover,
#left #figure_list li#list_selected {
  transform: scale(1);
  opacity: 1;
}

#left #figure_list li img {
  max-width: 100%;
  max-height: 100%;
}

.paper_detail div#right {
  width: 50%;
  height: 92%;
  overflow: auto;
  -ms-overflow-style: none;
  /* hide scrollbar  for IE and Edge */
  scrollbar-width: none;
  /* hide scrollbar  for Firefox */
}

.paper_detail div#right::-webkit-scrollbar {
  display: none;
  /* hide scrollbar  for Chrome, Safari and Opera*/
}

div#right .subtitle {
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bolder;
}

div#right .subsubtitle {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

div#right .body {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.paper_detail div#progress_bar {
  width: 60px;
  height: 92%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.paper_detail div#progress_bar div.column {
  width: 30px;
  height: 100%;
  position: relative;
}

.rotate_90 {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: right top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;
  position: relative;
}

.bar_container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bar_container span {
  margin-right: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.bar_container span::after {
  content: " ";
  width: 100%;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: 5px;
}

#progress_bar div.slider {
  width: 10px;
  height: 100%;
  border-left:2px solid #f95700;
  margin:0;
  position: relative;
}

#progress_bar div.slider div#arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0px;
  background: url("../img/sliderArrow.png") center no-repeat;
  background-size: contain;
}