@charset 'utf-8';

div.container {
}

nav {
  background: #f95700;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 10px;
}

nav div {
  height: 100%;
}

nav div.logo {
  margin-top: 10px;
  width: 70px;
  background: url("../img/logo.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
}

nav div.nav_tab {
  width: 23%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div.nav_tab a {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.2s;
}

nav div.nav_tab a:hover {
  color: #9c3d09;
}

nav div.search {
  width: 45%;
  height: 85%;
  position: relative;
}

nav div.search input {
  width: 100%;
  height: 100%;
  border-radius: 17px;
  border: none;
  padding-left: 20px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #f95700;
}

nav div.search input::placeholder {
  color: #f95700;
  text-transform: uppercase;
}

nav div.search p {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/search.png") center no-repeat;
  background-size: contain;
  cursor: pointer;
}

nav div.icons {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div.icons p {
  width: 80px;
  height: 90%;
  background: center no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: 0.2s;
}

nav div.icons p:hover {
  opacity: 0.6;
}

nav div.icons p:nth-of-type(1) {
  background-image: url("../img/I_History.png");
}

nav div.icons p:nth-of-type(2) {
  background-image: url("../img/I_Cart.png");
}

nav div.icons p:nth-of-type(3) {
  background-image: url("../img/I_Profile2.png");
}
section.cover {
}
section.cover > ul {
  width: 100%;
  padding-left: 3%;
  border-bottom: 1px solid #ddd;
}

section.cover > ul li {
  text-align: center;
  font-size: 18px;
  text-transform: capitalize;
  padding: 30px;
  padding-bottom: 13px;
  color: #757575;
  cursor: pointer;
  transition: 0.2s;
  margin: 0;
  font-weight: bold;
}

section.cover > ul li.active,
section.cover > ul li:hover {
  color: #f95700;
  border-bottom: 2px solid #f95700;
}

section.cover ul li.pub {
}

section.cover ul li.aut {
}

section.cover ul li.fil {
}

section.cover article.all_figs {
  padding: 0;
  width: 100%;
  height: 450px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
  background-color: #eeeeee;
  position: relative;
}
section.cover article.all_figs p {
  width: 50px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  font-weight: bold;
  color: #f95700;
  transition: 0.2s;
  opacity: 0.6;
  cursor: pointer;
}
section.cover article.all_figs p:hover {
  opacity: 0.8;
}
section.cover article.all_figs p.prev {
  left: 0;
}
section.cover article.all_figs p.next {
  right: 0;
}
section.cover article.all_figs div.container {
  height: 50%;
  width: 10000px;
  position: absolute;
  padding-top: 12px;
  padding-bottom: 6px;
  top: 0;
  left: 0;
}
section.cover article.all_figs div.container.list_top {
}
section.cover article.all_figs div.container.list_bottom {
  padding-top: 6px;
  padding-bottom: 12px;
  position: absolute;
  top: 50%;
  left: 0;
}

section.cover article.all_figs div.container img {
  height: 100%;
  border: 2px solid #a6a6a6;
  border-radius: 7px;
  margin-left: 12px;
  cursor: pointer;
  transition: 0.2s;
  opacity: 0.8;
}
section.cover article.all_figs div.container img:hover {
  border: 2px solid #f95700;
  transform: scale(1.05);
  opacity: 1;
}

section.main {
  width: 70%;
  margin: 80px auto;
}
section.main div {
  font-size: 18px;
  width: 100%;
}
section.main div.tags *,
section.main div.results * {
  font-size: inherit;

}
section.main div.tags {
}
section.main div ul {
}
section.main div.tags ul {
}
section.main div.tags ul i {
  font-style: normal;
  font-weight: bold;
  color: #f95700;
  padding-left: 3px;
}
section.main div.tags ul b {
  float: left;
}

section.main div.tags ul li {
  height: 30px;
  font-size: 14px;
  padding: 3px 10px 0 30px;
  border: 1px solid #f95700;
  border-radius: 15px;
  text-align: center;
  color: #f95700;
  position: relative;
  margin: -3px 4px 0 4px;
  float: right;
  cursor: pointer;
}

section.main div.tags ul li.active {
  float: left;
  padding: 3px 10px 0 10px;
  background: #f95700;
  color: #fff;
}
section.main div.tags ul li.active span {
  display: none;
}
section.main div.tags ul li span {
  width: 22px;
  height: 22px;
  border: 1px solid #f95700;
  border-radius: 11px;
  position: absolute;
  text-align: center;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
}
section.main div.results {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
section.main div.results span {
  display: flex;
  align-items: center;
}
section.main div.results ul {
  display: flex;
  align-items: center;
}
section.main div.results ul li {
  height: 30px;
  font-size: 14px;
  line-height: 14px;
  width: 50px;
  border-radius: 15px;
  text-align: center;
  color: #000;
  position: relative;
  font-weight: bold;
  background: #eee;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
section.main div.results ul li.active {
  background: #f95700;
  color: #fff;
}

section.main div.card {
  margin-top: 40px;
  width: 100%;
  height: auto;
  position: relative;
}

section.main div.card figure {
  width: 95%;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

section.main div.card figure p.img {
  width: 32%;
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  cursor: pointer;
  border-right: 1px solid #757575;
}

section.main div.card figure figcaption {
  width: 68%;
  height: 100%;
  float: right;
  padding: 12px 40px;
  position: relative;
}

section.main div.card figure figcaption div.bar {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  overflow: hidden;

}

section.main div.card figure figcaption div.bar span {
  height: 22px;
  font-size: 12px;
  line-height: 16px;
  margin-right: 5px;
  position: relative;
  text-transform: lowercase;
  padding-bottom: 5px;
  display: flex;
  align-items: flex-start;
}
section.main div.card figure figcaption div.bar span:after {
  content: " ";
  width: 100%;
  height: 4px;
  border-radius: 3px;
  background: #000;
  position: absolute;
  left: 0;
  bottom: 0;
}

section.main div.card figure figcaption div.bar span#background {
  color: black;
}
section.main div.card figure figcaption div.bar span#background:after {
  background: black;
}

section.main div.card figure figcaption div.bar span#method {
  color: coral;
}
section.main div.card figure figcaption div.bar span#method:after {
  background: coral;
}

section.main div.card figure figcaption div.bar span#result {
  color: cornflowerblue;
}
section.main div.card figure figcaption div.bar span#result:after {
  background: cornflowerblue;
}

section.main div.card figure figcaption div.bar span#discussion {
  color: #8ddd5c;
}
section.main div.card figure figcaption div.bar span#discussion:after {
  background: #8ddd5c;
}

section.main div.card figure figcaption div.bar span#conclusion {
  color: #a6a6a6;
}
section.main div.card figure figcaption div.bar span#conclusion:after {
  background: #a6a6a6;
}

section.main div.card figure figcaption div.info {
  width: 100%;
  padding: 15px 0px 5px 0;
}

section.main div.card figure figcaption div.info > span {
  height: 100%;
  color: #a6a6a6;
  margin-right: 20px;
  font-size: 12px;
  text-align: right;
}
section.main div.card figure figcaption div.info > span span {
  height: 9px;
  width: 9px;
  margin-right: 5px;
}

section.main div.card figure figcaption div.info span.conf {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
section.main div.card figure figcaption div.info span.cite {
  color: #4865ff;
}
section.main div.card figure figcaption div.info span.cite span {
  background: url("../img/cite.png") center no-repeat;
  background-size: contain;
}

section.main div.card figure figcaption div.info span.down {
}
section.main div.card figure figcaption div.info span.down span {
  background: url("../img/download.png") center no-repeat;
  background-size: contain;
}

section.main div.card figure figcaption div.info span.graph {
  color: #585858;
}
section.main div.card figure figcaption div.info span.graph span {
  background: url("../img/graph.png") center no-repeat;
  background-size: contain;
}

section.main div.card figure figcaption div.info span.figure {
  color: #585858;
}
section.main div.card figure figcaption div.info span.figure span {
  background: url("../img/figure.png") center no-repeat;
  background-size: contain;
}

section.main div.card figure figcaption div.caption {
  width: 100%;
  overflow: hidden;
}

section.main div.card figure figcaption div.caption h3 {
  text-transform: none;
}

section.main div.card figure figcaption div.caption ul {
  margin-top: 5px;
  text-transform: capitalize;
}

section.main div.card figure figcaption div.caption ul li {
  font-size: 12px;
}

section.main div.card figure figcaption div.caption span.abstract,
section.main div.card figure figcaption div.caption p.fig_des {
  margin-top: 10px;
}
section.main div.card figure figcaption div.caption span.abstract {
  height: 110px;
  overflow: hidden;
}

section.main div.card figure figcaption div.caption p.fig_des {
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

section.main div.card figure figcaption div.caption p span:nth-of-type(1) {
  color: #4865ff;
  margin-right: 10px;
}

section.main div.card figure figcaption div.caption p span:nth-of-type(2) {
}

section.main div.card figure figcaption div.figures {
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -100px;
  padding-left: 40px;
}

section.main div.card figure figcaption div.figures img {
  height: 100%;
  margin-right: 7px;
  border: 1px solid #757575;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s;
}
section.main div.card figure figcaption div.figures img:hover {
  opacity: 1;
}

section.main div.card aside {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}

section.main div.card aside span {
  display: block;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

section.main div.card aside span.thumb {
  background: url("../img/thumb.png") center no-repeat;
  background-size: contain;
}

section.main div.card aside span.cart {
  background: url("../img/cart.png") center no-repeat;
  background-size: contain;
}

section.main div.card aside span.thumb.active {
  background: url("../img/thumb_active.png") center no-repeat;
  background-size: contain;
}

section.main div.card aside span.cart.active {
  background: url("../img/cart_active.png") center no-repeat;
  background-size: contain;
}
